body {
    position: relative;
    z-index: -10;
}

main {
    pointer-events: none;
}
main * {
    pointer-events: auto;
}
main h3 {
    margin-top: 32.5px;
    margin-bottom: 35px;
}
main h3.with-subtitle {
    margin-bottom: 10px;
}
main .row [class^="col"] {
    margin-bottom: 25px;
}
@media (min-width: 768px){
    main h3.with-subtitle {
        margin-bottom: 0;
    }
    main .row [class^="col"] {
        padding: 0 30px;
    }
}

#keep-running {
    background: #f3eff2;
    padding: 30px 0;
}
#keep-running .row [class^="col"] {
    text-align: justify;
}

#quotes {
    background: #f3eff2;
    padding: 0 0 30px 0;
    display: none;
}
#quotesCarousel h4 {
    font-style: italic;
}
#quotesCarousel .carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #333;
    line-height: -moz;
    text-align: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quotesCarousel .carousel-control.left > div, .carousel-control.right > div {
    width: auto;
}
#quotesCarousel .carousel-inner > .item {
    margin-bottom: 40px;
}
#quotesCarousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 10px;
}
#quotesCarousel .carousel-indicators .active {
    background-color: #333;
}
#quotesCarousel .carousel-indicators li {
    border: 1px solid #333;
}


#thanks {
    background: #d0cdcd;
    padding-top: 30px;
}
#thanks h3 {
    font-weight: bold;
}
#donate {
    padding: 90px 0;
    color: white;
    background: rgba(115, 115, 115, 0.88);
}
#donate h3 {
    font-size: 26px;
}
#donate .with-subtitle {
    margin-bottom: 5px;
}
#donate .subtitle {
    font-size: 16px;
}
.phone-background .row [class^="col"] {
    padding: 0 0 0 15px;
    margin: 0;
}
#donate-title {
    margin-bottom: 30px;
}
#bitcoin-donation-button {
    margin-bottom: 30px;
}
#bitcoin-donation {
    display: none;
    margin-top: 30px;
    margin-bottom: 15px;
}
#bitcoin-donation samp {
    background: #AA1D1D;
    border-radius: 5px;
    padding: 6px 10px;
}
@media (max-width: 992px){
    .phone-background .row [class^="col"] {
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 767px) {
    #donate {
        padding: 30px 0;
    }
    #donate * {
        text-align: center;
    }
    #donate .subtitle {
        margin-bottom: 45px;
    }
    #sorted-row {
        display: flex;
        flex-direction: column;
    }
    #bitcoin-donation {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #bountysource-donation {
        order: 2;
        margin-top: 20px;
    }
}
.features-background {
    z-index: -8;
}
.features-background img {
    width: 300px;
    display: none;
    bottom: 0;
    position: relative;
}
.features-wrapper {
    z-index: -4;
    position: relative;
}
.phone-background {
    height: 0;
    position: absolute;
    width: 100%;
    z-index: -2;
}
.phone-background, .phone-background * {
    pointer-events: none;
}
.phone-background img {
    max-width: 230px;
    display: none;
    position: relative;
}
@media (min-width: 768px) {
    .phone-background img {
        display: block;
        margin-top: 30px;
    }
}
@media (min-width: 992px) {
    .phone-background img {
        margin-top: 45px;
    }
}