body {
    color: black;
}

body,
footer .image-buffer {
    background: #f3eff2;
}

@media (min-width: 768px) {
    body,
    footer .image-buffer {
        background: #E2DEE0;
    }
}

.site-content {
    margin-top: 78px;
    padding: 0;
}

.site-content > .container {
    background: #f3eff2;
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-content > .container > h3 {
    margin-top: 32.5px;
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .site-content {
        padding: 60px 0 30px;
    }
    .site-content > .container {
        padding-top: 45px;
        padding-bottom: 60px;
    }
}

h3 > a > i.fa-chevron-left {
    color: black;
    font-size: 20px;
}

/* FAQ Tiles */

.tiles-container {
    padding: 30px 0;
    background: transparent;
}

.tiles-container .is-flex > a > div {
    width: 100%;
}

.tiles-container .tile {
    text-align: center;
    padding: 15px;
    min-height: 0;
    border: 1px solid #BBB;
}

.tiles-container .tile.tile-left {
    border-right: 1px solid #BBB;
}

.tiles-container .tile.tile-right {
    border-left: 1px solid #BBB;
}

@media (min-width: 768px) {
    .tiles-container .is-flex {
        flex-wrap: nowrap;
    }
    .tiles-container .tile.tile-left {
        margin-right: 10px;
    }
    .tiles-container .tile.tile-middle {
        margin-left: 5px;
        margin-right: 5px;
    }
    .tiles-container .tile.tile-right {
        margin-left: 10px;
    }
}

.tiles-container #tile-download h2 {
    margin: 20px 0;
}

.tiles-container.faq-tiles .tile {
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    color: black;
}

.tiles-container.faq-tiles .tile > .tile-head {
    text-align: left;
    color: #CD201F;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    line-height: 30px;
}

.tiles-container.faq-tiles .tile:hover > .tile-head {
    background: #d0cdcd;
}

.tiles-container.faq-tiles .tile > .tile-head > .tile-type,
.tiles-container.faq-tiles .tile > .tile-head > span:first-child {
    padding: 7px 15px;
    margin-right: 15px;
    border-right: 1px solid #BBB;
    display: flex;
    align-items: center;
}

.tiles-container.faq-tiles .tile > .tile-head > .tile-type.tutorial {
    padding: 7px 12px 7px 11px;
}

.tiles-container.faq-tiles .tile > .tile-head > .tile-title {
    flex-grow: 1;
}

.tiles-container.faq-tiles .tile > .tile-head > .tile-anchor {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    border-left: 1px solid #BBB;
    display: flex;
    align-items: center;
}

.tiles-container.faq-tiles .tile > .tile-head > strong {
    padding: 7px 15px;
    width: calc(100% - 45px);
}

.tiles-container.faq-tiles .tile > .tile-body {
    display: none;
    padding: 15px;
    border-top: 1px solid #BBB;
}

.tiles-container.faq-tiles .tile > .tile-body img {
    max-width: 50%;
    max-height: calc(100vh - 78px);
    margin-right: 15px;
}

.tiles-container.faq-tiles .tile > .tile-body hr {
    margin: 0 -15px 10px;
    border-top: 1px solid #bbb;
}

.tiles-container.faq-tiles .tile > .tile-body figure {
    display: flex;
    flex-direction: column;
}

.tiles-container.faq-tiles .tile > .tile-body figure img,
.tiles-container.faq-tiles .tile > .tile-body figure video {
    float: left;
    margin: 0 auto 15px;
}

@media (min-width: 768px) {
    .tiles-container.faq-tiles .tile > .tile-body figure {
        flex-direction: row;
    }
    .tiles-container.faq-tiles .tile > .tile-body figure img,
    .tiles-container.faq-tiles .tile > .tile-body figure video {
        margin: 0 15px 0 0;
    }
}

#faq {
    display: flex;
    flex-direction: column;
}

#faq .site-content {
    align-items: center;
}

#faq .search-container #search-submit,
#faq .search-container #search-box {
    background: #E2DEE0;
    border-radius: 0;
}

#faq .search-container #search-box:focus {
    border: 1px solid #AA1D1D;
    box-shadow: none;
}

#faq #search-results #search-submit:hover,
#faq #search-results #search-submit:focus {
    border-color: #bbb;
}

#faq #search-results.active {
    margin-top: 30px;
}

#tutorial {
    font-size: 16px;
}

#tutorial a {
    color: #CD201F;
}

#tutorial section {
    margin-bottom: 15px;
}

#tutorial section > header {
    font-size: 22px;
}

#tutorial section figure {
    flex-direction: column;
    margin-bottom: 15px;
}

#tutorial section figure > img,
#tutorial section figure > video {
    margin-bottom: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#tutorial section figure > figcaption img {
    height: 1.2em;
}

#tutorial section figure.vertical > img,
#tutorial section figure.vertical > video {
    margin-right: auto;
    margin-left: auto;
    max-height: calc(100vh - 64px);
}

@media (min-width: 768px) {
    #tutorial section figure {
        max-width: 200px;
        float: left;
        margin-right: 15px;
    }
    #tutorial section figure.vertical {
        display: flex;
        flex-direction: row;
        max-width: calc(100% - 30px);
        margin-right: 0;
    }
    #tutorial section figure.vertical > img,
    #tutorial section figure.vertical > video {
        margin-bottom: 0;
        max-width: 200px;
        max-height: calc(100vh - 78px);
        flex-grow: 2;
    }
    #tutorial section figure.vertical > figcaption {
        align-items: center;
        align-content: center;
        display: flex;
        flex-shrink: 2;
        padding: 0 15px;
        flex-flow: wrap;
    }
    #tutorial section figure.vertical > figcaption li {
        line-height: 2;
    }
    #tutorial section figure.vertical > figcaption li,
    #tutorial section figure.vertical > figcaption ol p,
    #tutorial section figure.vertical > figcaption ul p {
        font-size: 110%;
    }
    #tutorial section figure.vertical > figcaption li + p {
        margin-top: 10px;
    }
    #tutorial section figure.vertical > figcaption .inside {
        list-style-position: inside;
    }
    #tutorial section figure.vertical > figcaption .inside li {
        padding-left: 1em;
    }
    #tutorial section figure.vertical.sm > figcaption {
        max-width: 60%;
    }
    #tutorial section figure ~ :not(figure) {
        clear: left;
    }
}

@media (min-width: 992px) {
    #tutorial section figure.vertical.figure-right > img,
    #tutorial section figure.vertical.figure-right > video {
        order: 2;
    }
    #tutorial section figure.vertical.figure-right > figcaption {
        order: 1;
    }
}

#tutorial .text-success {
    color: #29a400;
}

.faq-back-link,
.faq-back-link:hover {
    font-size: 16px;
    color: #CD201F;
}

.row.is-flex.figure-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
}

code {
    background-color: #e2dee0;
    color: black;
    padding: 2px 5px;
    white-space: nowrap;
}

#faq .improve-faq-hint {
    border-radius: 0;
    margin-bottom: 0;
}

.faq-tiles ~ .row > .col-md-8.col-md-offset-2 > .improve-faq-hint {
    margin-left: -15px;
    margin-right: -15px;
}

.improve-faq-hint > .fa {
    font-size: 150%;
    margin-right: 15px;
}
hr.separator {
    border-top: 15px solid #e2dee0;
    margin-left: -150px;
    width: calc(100% + 300px);
    margin-bottom: 30px;
    margin-top: 30px;
}

.code-bg-light {
    background: #f3eff2;
}

img.baseline-settings {
    margin-right: 0;
}
