body,
.footer .image-puffer {
    background: #f3eff2;
}
.site-content {
    margin-top: 78px;
    padding: 30px 0;
}
.site-content > .container > h3 {
    margin-top: 32.5px;
    margin-bottom: 35px;
}
h3 > a > i.fa-chevron-left {
    color: black;
    font-size: 20px;
}
.tiles-container {
    padding: 30px 0;
}
.tiles-container .tile {
    text-align: center;
    padding: 15px;
    min-height: 0;
    border: 1px solid #BBB;
}

.tiles-container .is-flex > a > div {
    width: 100%;
}
.tiles-container .tile.tile-left {
    border-right: 1px solid #BBB;
}
.tiles-container .tile.tile-right {
    border-left: 1px solid #BBB;
}
@media (min-width: 767px) {
    .tiles-container .is-flex {
        flex-wrap: nowrap;
    }
    .tiles-container .tile.tile-left {
        margin-right: 10px;
    }
    .tiles-container .tile.tile-middle {
        margin-left: 5px;
        margin-right: 5px;
    }
    .tiles-container .tile.tile-right {
        margin-left: 10px;
    }
}
#faq #faq-menu {
    padding: 30px 15px 0 15px;
}
#faq #faq-menu .tile {
    display: flex;
}
#faq #faq-menu .tile:hover {
    background: #d0cdcd;
    color: #CD201F;
}
#faq #faq-menu .tile > div {
    margin: auto 0;
}
@media (max-width: 991px) {
    #faq #faq-menu .tile > span {
        margin-top: 15px;
    }
    #faq #faq-menu .tile > div > h2 {
        font-size: 24px;
    }
}
@media (min-width: 992px) {
    #faq #faq-menu .tile > span {
        width: 50px;
        position: absolute;
        top: calc(50% - 1.5em);
        left: calc(50% - 25px);
    }
    #faq #faq-menu .tile > :not(span),
    #faq #faq-menu .tile:hover > span {
        opacity: 0;
        transition: opacity 0.25s ease-in-out 0s;
    }

    #faq #faq-menu .tile > span,
    #faq #faq-menu .tile:hover > :not(span) {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.3s;
    }
}
#faq #faq-menu-tutorials {
    margin: 0 15px;
    padding: 0;
}
@media (min-width: 992px) {
    #faq #faq-menu-tutorials article.tile {
        max-width: 276px;
        margin-left: 286px;
    }
}
@media (min-width: 1200px) {
    #faq #faq-menu-tutorials article.tile {
        max-width: 343px;
        margin-left: 353px;
    }
}
.tiles-container #tile-download h2 {
    margin: 20px 0;
}
.tiles-container.faq-tiles .tile {
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    color: black;
}

.tiles-container.faq-tiles .tile > .tile-head {
    text-align: left;
    color: #CD201F;
    font-size: 16px;
    padding: 0 15px 0 0;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    line-height: 30px;
}
.tiles-container.faq-tiles .tile:hover > .tile-head {
    background: #d0cdcd;
}
.tiles-container.faq-tiles .tile > .tile-head > span {
    padding: 7px 15px;
    margin-right: 15px;
    border-right: 1px solid #BBB;
    display: flex;
    align-items: center;
}
.tiles-container.faq-tiles .tile > .tile-head > span.tutorial {
    padding: 7px 12px 7px 11px;
}
.tiles-container.faq-tiles .tile > .tile-head > strong {
    padding: 7px 15px;
    width: calc(100% - 45px);
}
.tiles-container.faq-tiles .tile > .tile-body {
    display: none;
    #height: 0;
    #overflow: hidden;
    padding: 15px;
    #transition: height 0.5s ease-in-out;
    border-top: 1px solid #BBB;
}
.tiles-container.faq-tiles .tile.active > .tile-body {
    #height: auto;
    #display: block;
    #transition: display 0s 0.5s;
}
.tiles-container.faq-tiles .tile > .tile-body img {
    max-width: 50%;
    max-height: calc(100vh - 78px);
    margin-right: 15px;
}
.tiles-container.faq-tiles .tile > .tile-body hr {
    margin: 0 -15px 10px;
    border-top: 1px solid #bbb;
}
.tiles-container.faq-tiles .tile > .tile-body figure {
    display: flex;
    flex-direction: column;
}
.tiles-container.faq-tiles .tile > .tile-body figure img {
    float: left;
    margin: 0 auto 15px;
}
@media (min-width: 768px) {
    .tiles-container.faq-tiles .tile > .tile-body figure {
        flex-direction: row;
    }
    .tiles-container.faq-tiles .tile > .tile-body figure img {
        margin: 0 15px 0 0;
    }
}
#faq .search-container #search-submit,
#faq .search-container #search-box {
    background: #E2DEE0;
    border-radius: 0;
}
#faq .search-container #search-box:focus {
    border: 1px solid #AA1D1D;
    box-shadow: none;
}
#faq #search-results #search-submit:hover,
#faq #search-results #search-submit:focus {
    border-color: #bbb;
}
#faq #search-results.active {
    margin-top: 30px;
}

#tutorial {
    font-size: 16px;
}
.faq-back-link {
    font-size: 16px;
    color: #CD201F;
}