html, body {
    height: 100%;
    font-family: Arial;
}
body.modal-open {
    padding: 0!important;
    overflow-y: scroll;
}
@media (max-width: 767px) {
    body.feature-fullscreen {
        margin-left: -100%;
        margin-right: 100%;
        overflow: hidden;
    }
}
.container .container {
    width: auto;
}
.container.container-double {
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 768px){
    .container.container-double {
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media (min-width: 992px){
    .container.container-double {
        padding-left: 60px;
        padding-right: 60px;
    }
}
.hidden-xxs {
    display: none;
}
/* Extra small devices (phones portrait) */
@media (min-width: 544px){
    .visible-xxs {
        display: none;
    }
    .hidden-xxs {
        display: block;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}
.center-block-xs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px)  {
    .center-block-xs {
        margin-left: 0;
        margin-right: 0;
    }
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}
.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}
.red, .red:hover {
    color: #cd201f;
}
.f-droid {
    width: 160px;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
img.border-white {
    border: 3px solid white;
}


/* Header */

.header-wrapper {
    color: white;
}
.header-background {
    background: url('../img/background_header.png') center center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-wrapper h3 {
    font-weight: 500;
}
.header-text {
    margin-bottom: 40px;
    width: 100%;
}
.header-wrapper .f-droid-wrapper {
    position: relative;
    bottom: -25px;
}
.header-wrapper .f-droid-wrapper {
    -webkit-box-shadow: 0 -1px 8px black, 0 3px 8px black;
    -moz-box-shadow: 0 -1px 8px black, 0 3px 8px black;
    box-shadow: 0 -1px 8px black, 0 3px 8px black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header-wrapper .f-droid-wrapper:hover {
    -webkit-box-shadow: 0 -1px 9px black, 0 3px 9px black;
    -moz-box-shadow: 0 -1px 9px black, 0 3px 9px black;
    box-shadow: 0 -1px 9px black, 0 3px 9px black;
}
.header-box-wrapper > .container {
    position: relative;
}
.header-box-wrapper .phone {
    display: inline;
    position: absolute;
    right: 60px;
    top: 20px;
    height: 450px;
    width: calc(350 / 713 * 450px);
}
.header-box-wrapper .logo {
    width: auto;
    position: absolute;
    left: calc(50% - 41px);
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-box-wrapper .logo > img {
    height: 90px;
}
.header-box-wrapper .phone > img {
    height: 100%;
    position: absolute;
}
.header-box-wrapper .phone > video {
    height: 556px;
    transform: scale(1.009);
    position: absolute;
    top: -53px;
    left: 7.7px;
    width: calc(328 / 553 * 350px);
    background: transparent;
}
@media (max-width: 767px) {
    .header-box-wrapper .pull-left {
        float: none !important;
    }
    .header-wrapper .logo {
        text-align: center;
        position: relative;
        left: 0;
    }
    .header-wrapper .f-droid-wrapper {
        text-align: center;
    }
    .header-wrapper .f-droid-wrapper {
        width: 160px;
        margin: auto;
        left: 0;
        right: 0;
    }
}
@media (min-width: 768px) {
    .header-background {
        background-size: cover;
    }
    .header-text {
        margin-bottom: 100px;
        width: auto;
    }
    .header-wrapper .f-droid-wrapper {
        position: absolute;
        bottom: -25px;
    }
}


/* Navigation */

#header.navbar-full-bg {
    padding: 7px 0;
}
.navbar {
    margin-bottom: 0;
}
#navbar-wrapper {
    margin: 7px 0;
    position: relative;
}
#navbar-wrapper.navbar-static-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
#navbar-wrapper.navbar-fixed-top {
    position: fixed;
}
.modal-open /*.navbar-fixed-top*/ .navbar-toggle {
    visibility: hidden;
}
.navbar-full-bg {
    background: #AA1D1D;
}
.navbar-collapse {
    border-top-width: 0;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-brand img.border-white {
    border: 2px solid white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-size: 36px;
    font-weight: 500;
    line-height: 28px;
}
.navbar-inverse .navbar-brand .navbar-logo {
    height: 36px;
    position: absolute;
    margin-top: calc((36px - 14px) / -2);
}
.navbar-full-bg .navbar-inverse .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    height: auto;
}
.navbar-full-bg .navbar-inverse .navbar-brand > span {
    line-height: 18px;
    font-size: 18px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 46px;
}
.navbar-full-bg .navbar-inverse .navbar-nav {
    margin-right: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    line-height: 14px;
}
.navbar-toggle {
    padding-top: 17px;
    padding-bottom: 17px;
}
.navbar-brand {
    position: absolute;
}
.navbar-nav {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width: 767px){
    #header.navbar-full-bg {
        padding: 0;
    }
    #navbar {
        width: 100%;
    }
    .nav.navbar-nav {
        font-size: 20px;
    }
    .navbar-brand {
        margin-left: 15px;
        padding-left: 0;
    }
    #main-page .navbar-brand {
        padding-top: 0;
        line-height: 38px;
        margin-top: 10px;
        padding-bottom: 0;
    }
    .nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 0;
        margin-left: 15px;
    }
    .navbar-header > .navbar-toggle, .navbar-header > .navbar-toggle:hover, .navbar-header > .navbar-toggle:focus {
        border: none;
        background: none;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        font-weight: normal;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 15px;
    }
    .navbar-full-bg .navbar-collapse {
        margin-bottom: 24px;
    }
}

/********************
  CONTENT TEMPLATES
  ******************/

.background-light-gray {
    background: #f3eff2;
}

.background-gray {
    background: #d0cdcd;
    color: #555;
}

.background-dark-gray {

}

.background-red {
    background: #cd201f;
}

.background-dark-red {
    background: #AA1D1D;
}

/* TEXT-1 */

.text-1 {
    background: #f3eff2;
    padding-top: 70px;
    padding-bottom: 15px;
}
.text-1 p {
    margin-bottom: 15px;
}
.text-1 a {
    color: #cd201f;
}
.text-1 .separator {
    margin-top: 30px;
}
.text-1-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .text-1 {
        padding-top: 85px;
    }
    .text-1-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Features */

#features {
    background: #f3eff2;
}
#features #features-title {
    font-size: 28px;
    color: #cd201f;
    text-align: center;
    margin-bottom: 30px;
}
#features .row.is-flex > [class*='col-'] {
    flex: 1 auto;
}
#features #features-sidebar {
    background: #E2DEE0;
    display: block;
    /* padding 0 to draw the separators, that is why .list-group-item has a double padding of 30px on each side */
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 992px) {
    #features #features-sidebar {
        border-left: 1px solid #BBB;
    }
}
#features #features-sidebar .list-group {
    width: 100%;
    padding-top: 23px;
    background: #E2DEE0;
    font-size: 18px;
    font-weight: bold;
}
#features #features-sidebar .list-group .list-group-item {
    background: none;
    border: none;
    color: #cd201f;
    padding: 17px 30px;
    display: flex;
}
#features #features-sidebar .list-group > .active > .list-group-item {
    border: 1px solid #BBB;
    border-left-color: #d0cdcd;
    border-right-width: 0;
    border-radius: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 29px;
    background: #d0cdcd;
}
@media (min-width: 992px) {
    #features #features-sidebar .list-group > .active > .list-group-item {
        margin-left: -1px;
        padding-left: 30px;
    }
}
#features #features-sidebar .list-group .list-group-item span.icon {
    width: 25px;
    margin-right: 10px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#features .feature-detail {
    background: #d0cdcd;
    display: none;
    float: left;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 16px;
}
#features .feature-detail.active {
    display: block;
}
@media (max-width: 767px) {
    #features .feature-detail.active {
        position: fixed;
        top: 0;
        right: 0;
        max-height: 100%;
        overflow-y: scroll;
        max-width: 100%;
        min-height: 100%;
        padding-right: 30px;
    }
    #features .feature-detail.active .back {
        display: block;
    }
}
#features .feature-detail h3 {
    color: #cd201f;
    text-align: center;
    text-indent: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px) {
    #features .feature-detail h3 {
        padding-left: 0;
        padding-right: 0;
        text-indent: 0;
    }
}
#features .feature-detail .feature-media {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
#features .feature-detail .feature-media > img {
    display: inline;
}
@media (min-width: 768px) {
    #features .feature-detail .feature-media {
        width: calc(50% - 15px);
        margin-right: 15px;
        float: left;
    }
}
#features .feature-detail .feature-description {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-height: 725px) {
    #features .feature-detail .feature-media {
        width: calc(33% - 15px);
    }
    #features .feature-detail .feature-description {
        width: calc(66% - 15px);
    }
}
#features .feature-close-detail {
    display: none;
    position: absolute;
    top: 24px;
    left: 15px;
    font-size: 20px;
    color: #cd201f;
    padding: 15px;
    cursor: pointer;
}
@media (max-width: 767px) {
    #features .feature-detail.active .feature-close-detail {
        display: block;
    }
}
#features .icon {
    float: left;
    margin-right: 30px;
    width: 54px;
}
#features .icon h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 2em !important;
    vertical-align: middle;
}
#features #lightweight .feature-description {
    width: 100% !important;
}
#features #lightweight .row.is-flex > [class*="col-"] {
    display: block;
    margin-bottom: 15px;
}
#features .description {
    color: #cd201f;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
#features .feature-description a {
    color: #cd201f;
}
#features .feature-description .text-success {
    color: #29a400;
}
#features .feature-description ul {
    list-style: none;
    padding-left: 15px;
}
#features .feature-description ul > li {
    padding-left: 15px;
    line-height: 2;
    text-indent: -25px;
}
#features .feature-description ul > li:before {
    content: "\f00c"; /* FontAwesome Unicode for check icon */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0;
    padding-left: 25px;
    height: 100%;
}
#features .feature-description ul > li.heart:before {
    content: "\f004";
}
#features .c100 {
    margin-right: auto;
    margin-left: auto;
    float: none;
}
#features .c100 ~ p {
    text-align: center;
    font-size: 18px;
}
#features #lightweight .feature-description {
    margin-top: 45px;
}
#features #lightweight .feature-description [class^="col"] {
    margin-bottom: 45px;
}

/* Progress circles
   Idea Sergio Pedercini https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705 */

.single-chart {
    max-width: 100px;
    justify-content: space-around ;
    position: relative;
    transform: rotate(0deg);
    animation-play-state: running;
    margin: 15px auto;
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.circle-bg {
    fill: #E2DEE0;
    stroke: #c5c5c5 ;
    stroke-width: 2.5;
}

.circle {
    fill: none;
    stroke-width: 0;

}
.single-chart.in .circle {
    stroke-width: 2.5;
    animation: progress 1.5s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
@keyframes circle-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes circle-rotate-text {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.circular-chart.red .circle {
    stroke: #cd201f;
}

.circle-text {
    color: #cd201f;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1em;
    font-size: 30px;
    margin-top: calc(-50% - 0.5em);
}
.single-chart.animated .circle-text {
    animation: circle-rotate-text 1.5s ease;
}
.single-chart.animated {
    animation: circle-rotate 1.5s ease;
}
.single-chart .fa-mobile-wrapper {
    font-size: 40px;
}


/* TEXT-2 */

.text-2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f3eff2;
}
.text-2 a {
    color: #cd201f;
}
.text-2 a:hover {
    text-decoration: none;
}
.text-2 .f-droid-wrapper {
    margin-top: 25px;
    margin-bottom: 10px
}
strong.extra {
    font-size: 125%;
}
.separator {
    border-top: 2px solid white;
}
.donate {
    border: none;
    box-shadow: none;
    background: #cd201f;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 125%;
    transition: background 0.75s;
}
.donate:hover, .donate:focus {
    background: #AA1D1D;
}
#donateBitcoinModal .modal-content {
    background: #f3eff2;
}
#donateBitcoinModal samp {
    background: #f3eff2;
    padding: 3px 5px;
}
#donateBitcoinModal .modal-footer h4 {
    margin-top: 6px;
    margin-bottom: 0;
}
#donateBitcoinModal .small {
    margin-bottom: -5px;
}
body.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}
@media (max-width: 767px){
    .text-2 {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .text-2 .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* News */

.news-container {
    background-color: #d0cdcd;
    border-top: 2px solid white;
    color: #333;
}
.news-container a {
    color: #cd201f;
}
.news-container h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #cd201f;
}
.news-container .slides-download {
    margin-top: 0;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .news-container {
        border-top: none;
        padding-top: 0;
    }
    .news-container h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .news-container .slides-download {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}


/* Footer */

.footer {
    background: #AA1D1D/*#CD322E*/;
    width: 100%;
    min-height: 170px;
}
.footer-copyright {
    margin: 0 0 30px 0;
}
.footer, .footer-links a:hover, .footer .copyright, .footer .copyright a, .footer .copyright a:hover {
    color: white;
    text-decoration: none;
    position: relative;
}
.footer .copyright a {
    padding-bottom: 1px;
    font-weight: bold;
}
.footer .copyright a:after {
    content: '';
    bottom: 1px;
    left: 50%;
    position: absolute;
    height: 1px;
    width: 0;
    background: white;
    transition: width 0.25s linear, left 0.25s;
}
.footer .copyright:hover a:after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;

}
.footer .image-holder {
    text-align: center;
    position: relative;
    top: -45px;
}
.footer .image-puffer {
    padding-bottom: 70px;
}
.footer-logo {
    height: 90px;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px){
    .footer .copyright a {
        font-weight: normal;
    }
    .footer .copyright a:after {
        content: '';
        bottom: 1px;
        left: 50%;
        position: absolute;
        height: 1px;
        width: 0;
        background: white;
        -webkit-transition: width 0.25s, left 0.25s;
        -moz-transition: width 0.25s, left 0.25s;
        -o-transition: width 0.25s, left 0.25s;
        -ms-transition: width 0.25s, left 0.25s;
        transition: width 0.25s, left 0.25s;
    }
    .footer .copyright:hover a:after {
        left: 0;
        height: 1px;
        width: 100%;
    }
}


/* sticky footer */

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #d0cdcd;
}
#header, #footer {
    flex: none;
}

.height-full-parent {
    display: -ms-flex; display: -webkit-flex; display: flex;
}
.height-full-child {
    flex: 1;
}
.site-content {
    flex: 1 0 auto;
}

