body, html {
    height: 100%;
    font-family: Arial;
}
.container .container {
    width: auto;
}
.container.container-double {
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 768px){
    .container.container-double {
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media (min-width: 992px){
    .container.container-double {
        padding-left: 60px;
        padding-right: 60px;
    }
}
.hidden-xxs {
    display: none;
}
/* Extra small devices (phones portrait) */
@media (min-width: 544px){
    .visible-xxs {
        display: none;
    }
    .hidden-xxs {
        display: block;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}
.center-block-xs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px)  {
    .center-block-xs {
        margin-left: 0;
        margin-right: 0;
    }
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.red, .red:hover {
    color: #cd201f;
}
.f-droid {
    width: 160px;
}
a:hover {
    text-decoration: none;
}
img.border-white {
    border: 3px solid white;
}


/* Header */

.header-wrapper {
    color: white;
}
.header-background {
    background: url('../img/background_header.png') center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-wrapper h3 {
    font-weight: 500;
}
.header-text {
    margin-bottom: 40px;
    width: 100%;
}
.header-wrapper .f-droid-wrapper {
    position: relative;
    bottom: -25px;
}
.header-wrapper .f-droid-wrapper {
    -webkit-box-shadow: 0 -1px 8px black, 0 3px 8px black;
    -moz-box-shadow: 0 -1px 8px black, 0 3px 8px black;
    box-shadow: 0 -1px 8px black, 0 3px 8px black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header-wrapper .f-droid-wrapper:hover {
    -webkit-box-shadow: 0 -1px 9px black, 0 3px 9px black;
    -moz-box-shadow: 0 -1px 9px black, 0 3px 9px black;
    box-shadow: 0 -1px 9px black, 0 3px 9px black;
}
.header-box-wrapper > .container {
    position: relative;
}
.header-box-wrapper .phone {
    display: inline;
    position: absolute;
    right: 60px;
    top: 20px;
    height: 450px;
    width: calc(350 / 713 * 450px);
}
.header-box-wrapper .logo {
    width: auto;
    position: absolute;
    left: calc(50% - 41px);
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-box-wrapper .logo > img {
    height: 90px;
}
.header-box-wrapper .phone > img {
    height: 100%;
    position: absolute;
}
.header-box-wrapper .phone > video {
    height: 556px;
    transform: scale(1.009);
    position: absolute;
    top: -53px;
    left: 7.7px;
    width: calc(328 / 553 * 350px);
    background: transparent;
}
@media (max-width: 767px){
    .header-box-wrapper .pull-left {
        float: none !important;
    }
    .header-wrapper .logo {
        text-align: center;
        position: relative;
        left: 0;
    }
    .header-wrapper .f-droid-wrapper {
        text-align: center;
    }
    .header-wrapper .f-droid-wrapper {
        width: 160px;
        margin: auto;
        left: 0;
        right: 0;
    }
}
@media (min-width: 768px){
    .header-text {
        margin-bottom: 100px;
        width: auto;
    }
    .header-wrapper .f-droid-wrapper {
        position: absolute;
        bottom: -25px;
    }
}


/* Navigation */

#header.navbar-full-bg {
    padding: 7px 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-wrapper {
    position: relative;
}
.navbar-wrapper.navbar-static-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar-wrapper.navbar-fixed-top {
    position: fixed;
}
.modal-open /*.navbar-fixed-top*/ .navbar-toggle {
    visibility: hidden;
}
.navbar-full-bg {
    background: #AA1D1D;
}
.navbar-collapse {
    border-top-width: 0;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-brand img.border-white {
    border: 2px solid white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-size: 36px;
    font-weight: 500;
    line-height: 28px;
}
.navbar-inverse .navbar-brand .navbar-logo {
    height: 36px;
    position: absolute;
    margin-top: calc((36px - 14px) / -2);
}
.navbar-full-bg .navbar-inverse .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    height: auto;
}
.navbar-full-bg .navbar-inverse .navbar-brand > span {
    line-height: 18px;
    font-size: 18px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 46px;
}
.navbar-full-bg .navbar-inverse .navbar-nav {
    margin-right: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    line-height: 14px;
}
.navbar-toggle {
    padding-top: 17px;
    padding-bottom: 17px;
}
.navbar-brand {
    position: absolute;
}
.navbar-nav {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width: 767px){
    #header.navbar-full-bg {
        padding: 0;
    }
    #navbar {
        width: 100%;
    }
    .nav.navbar-nav {
        font-size: 20px;
    }
    .navbar-brand {
        margin-left: 15px;
        padding-left: 0;
    }
    .nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 0;
        margin-left: 15px;
    }
    .navbar-header > .navbar-toggle, .navbar-header > .navbar-toggle:hover, .navbar-header > .navbar-toggle:focus {
        border: none;
        background: none;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        font-weight: normal;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 15px;
    }
    .navbar-full-bg .navbar-collapse {
        margin-bottom: 24px;
    }
}

/********************
  CONTENT TEMPLATES
  ******************/

.background-light-gray {
    background: #f3eff2;
}

.background-gray {
    background: #d0cdcd;
    color: #555;
}

.background-dark-gray {

}

.background-red {
    background: #cd201f;
}

.background-dark-red {
    background: #AA1D1D;
}

/* TEXT-1 */

.text-1 {
    background: #f3eff2;
    padding-top: 70px;
    padding-bottom: 10px;
}
.text-1 p {
    margin-bottom: 15px;
}
.text-1 a {
    color: #cd201f;
}
.text-1-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .text-1 {
        padding-top: 85px;
    }
    .text-1-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Features */

.features-background {
    background: url('../img/bg_tiles.jpg') center center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}
.features-wrapper .heading-wrapper {
    background: #f3eff2;
    text-align: center;
}
.features-wrapper .heading-wrapper h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #cd201f;
}
.features-wrapper .features {
    background: rgba(115, 115, 115, 0.88);
    color: white;
}
.features-wrapper .features .description {
    margin: 10px 0 20px 0;
    text-align: center;
}
.features-wrapper .features .icon {
    float: left;
    position: relative;
    top: 0;
    left:0;
    margin-right: 20px;
    padding: 0;
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    background: white;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.6);
    overflow: hidden;
}
.features-wrapper .features .icon .fa-2x, .features-wrapper .features .icon .glyphicon {
    font-size: 31px;
}
.features-wrapper .features .icon .text-center {
    font-family: Arial;
    vertical-align: -5px;
}
.features-wrapper .features .icon p, .features-wrapper .features .icon span {
    padding: 0;
    margin: 0;
}
.features-wrapper .features .icon .cross-out:nth-child(odd) {
    width: calc(91px); /* sqrt of (64px pow 4), Pythagoras' theorem */
    transform: rotate(315deg);
    transform-origin: 0% 0%;
    height: 4px;
    background: #cd201f;
    position: absolute;
    bottom: -2px;
}
.features-wrapper .features .icon i, .features-wrapper .features .icon img, .features-wrapper .features .icon .glyphicon {
    color: #cd201f;
    vertical-align: middle;
    text-align: center;
    display: inline;
}
.features-wrapper .features .icon img.fa {
    height: 1.75em;
}
.features-wrapper .features .icon .fa-icon-light {
    -webkit-text-stroke: 2px white;
    -webkit-font-smoothing: antialiased;
}
.features-wrapper .features .icon .fa-lock {
    -webkit-text-stroke: 1.5px white;
    -webkit-font-smoothing: antialiased;
}
.fa-money {
    vertical-align: 2px;
}
/* .fa-eye icon has more padding on the  top as on the bottom of it and is smaller than the other icons */
.features-wrapper .features .icon .fa-eye-wrapper {
    margin-top: -2px;
}
.features-wrapper .features .icon .fa-eye {
    font-size: 2.5em;
}
.features-wrapper .features .text {
    float: left;
    width: calc(100% - 64px - 20px);
}
.features-wrapper .features .text p {
    /* pull text to top of the parent div: 1.5 as factor needed because font-size: 150% (see .features-wrapper .features .text strong) */
    margin-top: calc(-4px * 1.5);
}
.features-wrapper .features .text strong {
    font-size: 150%;
}
.features-wrapper .features .list-box {
    max-width: 750px;
}
.features-wrapper .features [class^="col"] {
    margin-bottom: 25px;
}
.features-wrapper .row > div  > * {
    height: auto;
}
@media (max-width: 767px){
    .features-background {
        height: 100vh;
        background: none;
    }
    .features-wrapper {
        background: url("../img/bg_tiles.jpg");
        background-attachment: fixed;
    }
    .features-wrapper .features .description {
        margin-bottom: 10px;
    }
    .features-wrapper .features .description {
        margin: 20px 0 30px 0;
    }
}
/* Extra small size since Bootstrap 4 
   We use Bootstrap 3 but this size was added to Bootstrap 4 for a good reason. It adresses phones with portait mode. */
@media (max-width: 543px) {
    .features-wrapper .features .icon {
        margin-right: 15px;
    }
    .features-wrapper .features .text {
        float: left;
        width: calc(100% - 64px - 15px);
    }
    .features-wrapper .features .text > p {
        line-height: 64px;
        margin: 0;
    }
    .features-wrapper .features .text > p.description-text {
        line-height: 1.42857143;
        padding-top: 25px;
        display: none;
        text-align: left;
    }
}


/* TEXT-2 */

.text-2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f3eff2;
}
.text-2 a {
    color: #cd201f;
}
.text-2 a:hover {
    text-decoration: none;
}
.text-2 .f-droid-wrapper {
    margin-top: 25px;
    margin-bottom: 10px
}
strong.extra {
    font-size: 125%;
}
.separator {
    border-top: 2px solid white;
}
.donate {
    border: none;
    box-shadow: none;
    background: #cd201f;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 125%;
    transition: background 0.75s;
}
.donate:hover, .donate:focus {
    background: #AA1D1D;
}
#donateBitcoinModal .modal-content {
    background: #f3eff2;
}
#donateBitcoinModal samp {
    background: #f3eff2;
    padding: 3px 5px;
}
#donateBitcoinModal .modal-footer h4 {
    margin-top: 6px;
    margin-bottom: 0;
}
#donateBitcoinModal .small {
    margin-bottom: -5px;
}
body.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}
@media (max-width: 767px){
    .text-2 {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .text-2 .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* News */

.news-container {
    background-color: #d0cdcd;
    border-top: 2px solid white;
    color: #333;
}
.news-container a {
    color: #cd201f;
}
.news-container h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #cd201f;
}
.news-container .slides-download {
    margin-top: 0;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .news-container {
        border-top: none;
        padding-top: 0;
    }
    .news-container h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .news-container .slides-download {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}


/* Footer */

.footer {
    background: #AA1D1D/*#CD322E*/;
    width: 100%;
    min-height: 170px;
}
.footer-copyright {
    margin: 0 0 30px 0;
}
.footer, .footer-links a:hover, .footer .copyright, .footer .copyright a, .footer .copyright a:hover {
    color: white;
    text-decoration: none;
    position: relative;
}
.footer .copyright a {
    padding-bottom: 1px;
    font-weight: bold;
}
.footer .copyright a:after {
    content: '';
    bottom: 1px;
    left: 50%;
    position: absolute;
    height: 1px;
    width: 0;
    background: white;
    transition: width 0.25s linear, left 0.25s;
}
.footer .copyright:hover a:after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;

}
.footer .image-holder {
    text-align: center;
    position: relative;
    top: -45px;
}
.footer .image-puffer {
    padding-bottom: 70px;
}
.footer-logo {
    height: 90px;
    margin: 0;
    padding: 0;
}
@media (min-width: 767px){
    .footer .copyright a {
        font-weight: normal;
    }
    .footer .copyright a:after {
        content: '';
        bottom: 1px;
        left: 50%;
        position: absolute;
        height: 1px;
        width: 0;
        background: white;
        -webkit-transition: width 0.25s, left 0.25s;
        -moz-transition: width 0.25s, left 0.25s;
        -o-transition: width 0.25s, left 0.25s;
        -ms-transition: width 0.25s, left 0.25s;
        transition: width 0.25s, left 0.25s;
    }
    .footer .copyright:hover a:after {
        left: 0;
        height: 1px;
        width: 100%;
    }
}


/* sticky footer */

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #d0cdcd;
}
#header, #footer {
    flex: none;
}

.height-full-parent {
    display: -ms-flex; display: -webkit-flex; display: flex;
}
.height-full-child {
    flex: 1;
}
.site-content {
    flex: 1 0 auto;
}
