version: '3'

services:
  web:
    build:
      context: .
      args:
        ISSO_ADDRESS: http://isso:8080
    ports:
      - "80:80"
    depends_on:
      - isso

  isso:
    image: quay.io/teamnewpipe/isso-docker:latest
    ports:
      - "8080:8080"
    environment:
      ISSO_HOST: "http://web"
      ISSO_DB_NAME: "sqlite:////data/comments.db"
      ISSO_SMTP_HOST: "smtp.gmail.com"
      ISSO_SMTP_PORT: "465"
      ISSO_SMTP_USER: "your_email@gmail.com"
      ISSO_SMTP_PASS: "your_password"
      ISSO_NOTIFICATION_FROM: "your_email@gmail.com"
      ISSO_ADMIN_USER: "admin"
      ISSO_ADMIN_PASS: "admin_password"
    volumes:
      - isso-data:/data

volumes:
  isso-data:

