.list-box {
  margin-bottom: 15px;
  width: auto;
}

.gallery {
  width: auto;
  overflow: hidden;
  height: auto;
  display: flex;
  border-bottom: 1px solid #aaaaaa;
}
.gallery a, .gallery a:hover {
  color: white;
  text-decoration: none;
}
.gallery a.change-slide {
  cursor: pointer;
}

.gallery-element {
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  /* Fallback for browsers not supporting gradients */
  background: #858585;
  /* Safari 5.1-6 */
  background: -webkit-linear-gradient(left, rgba(85,85,85,0.8) 30px, rgba(170,170,170,0.8), rgba(85,85,85,08) -webkit-calc(100% - 30px));
  /* Opera 11.1-12 */
  background: -o-linear-gradient(right, rgba(85,85,85,0.8) 30px, rgba(170,170,170,0.8), rgba(85,85,85,0.8) calc(100% - 30px));
  /* Firefox 3.6-15 */
  background: -moz-linear-gradient(right, rgba(85,85,85,0.8) 30px, rgba(170,170,170,0.8), rgba(85,85,85,0.8) calc(100% - 30px));
  /* Standard */
  background: linear-gradient(to right, rgba(85,85,85,0.8) 30px, rgba(170,170,170,0.8), rgba(85,85,85,0.8) calc(100% - 30px));
}
.gallery-element.gallery-parallax-background {
  background: transparent;
}

.details-wrapper {
  vertical-align: middle;
  display: flex;
}

.feature-details {
  position: relative;
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}
.feature-details > .container {
  display: unset;
}
.feature-details .details-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.feature-details .details-image {
  margin-left: 0;
  margin-right: 0;
}
.feature-details .details-image > img {
  max-width: 100%;
  max-height: 350px;
  display: initial;
}
.feature-details .details-text {
  width: 75%;
  max-width: 660px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 30px;
}
.feature-details .details-text .subtitle {
  font-weight: bold;
}

@media (max-width: 766px) {
  .gallery {
    min-height: 100vh;
  }

  .gallery-element {
    min-height: 100vh;
  }

  .feature-details, .list-box {
    margin-bottom: 0;
  }

  .feature-details .details-flex {
    flex-wrap: wrap;
  }

  .feature-details .details-image {
    float: unset;
    width: 100%;
    text-align: center;
  }

  .feature-details .details-text {
    float: unset;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}