.container .container {
    width:auto;
}
.container.container-double {
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 768px){
    .container.container-double {
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media (min-width: 992px){
    .container.container-double {
        padding-left: 60px;
        padding-right: 60px;
    }
}
.text-justify-xs {
    text-align: justify;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}
.red {
    color: red;
}
.fdroid {
    width: 160px;
}
a:hover {
    text-decoration: none;
}

/* Header */

.header-wrapper {
    background: rgba(170, 29, 29, 0.5)/*#AA1D1D#CD322E*/;
    color: white;
}
.header-wrapper h3 {
    font-weight: 500;
}
.header-text {
    margin-bottom: 40px;
    width: 100%;
}
.header-wrapper .fdroid-wrapper {
    position: relative;
    bottom: -25px;
    width: 100%:
}
.header-wrapper .fdroid-wrapper {
    -webkit-box-shadow: 0px -1px 8px black, 0px 3px 8px black;
    -moz-box-shadow: 0px -1px 8px black, 0px 3px 8px black;
    box-shadow: 0px -1px 8px black, 0px 3px 8px black;
    -moz-border-radius:5px;
    -webkit-border-radius:5;
    border-radius:5px;
}
.header-wrapper .fdroid-wrapper:hover {
    -webkit-box-shadow: 0px -1px 9px black, 0px 3px 9px black;
    -moz-box-shadow: 0px -1px 9px black, 0px 3px 9px black;
    box-shadow: 0px -1px 9px black, 0px 3px 9px black;
}
.header-box-wrapper > .container {
    position: relative;
}
.header-box-wrapper .phone {
    display: none;
    position: absolute;
    right: 60px;
    top: 20px;
    height: 450px;
    width: calc(350 / 713 * 450px);
}
.header-box-wrapper .logo {
    width: auto;
    position: absolute;
    left: calc(50% - 41px);
	margin-top: 20px;
}
.header-box-wrapper .phone > img {
    height: 100%;
    position: absolute;
}
.header-box-wrapper .phone > video {
    height: 553px;
    z-index: 1;
    position: absolute;
    top: -54px;
    left: 7.7px;
    width: calc(328 / 553 * 350px);
}

@media (max-width: 767px){
    .header-box-wrapper .pull-left {
        float: none !important;
    }
    .header-wrapper .logo {
        text-align: center;
		position: relative;
		left: 0;
    }
    .header-wrapper .fdroid-wrapper {
        text-align: center;
    }
    .header-wrapper .fdroid-wrapper {
        width: 160px;
        margin-left: calc(50% - 160px / 2);
    }
}

@media (min-width: 768px){
    .header-text {
        margin-bottom: 100px;
        width: auto;
    }
    .header-wrapper .fdroid-wrapper {
        position: absolute;
        bottom: -25px;
    }
    .header-box-wrapper .phone {
        display: inline;
    }
}


/* Navigation */

.navbar {
    margin-bottom: 0;
}
.navbar-wrapper {
    position: relative;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-inverse .navbar-brand {
	padding-top: 24px;
	padding-bottom: 24px;
	color: white;
	font-size: 36px;
	font-weight: 500;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-toggle {
	padding-top: 17px;
	padding-bottom: 17px;
}
.navbar-nav {
    margin-right: 20px;
    margin-top: 10px;
}
@media (max-width: 767px){
	.nav.navbar-nav {
		font-size: 20px;
	}
	.nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


/* TEXT-1 */

.text-1 {
    padding-top: 45px;
    padding-bottom: 15px;
}
.text-1 a {
    color: red;
}
.text-1-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .text-1 {
        padding-top: 45px;
    }
    .text-1-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Features */

.features .heading-wrapper {
    text-align: center;
}
.features .heading-wrapper h3 {
    margin-top: 20px;
    margin-bottom: 35px;
    color: red;
}
.features-wrapper {
    color: white;
}
.features p {
    text-align: center;
}
.features .icon {
    float: left;
    position: relative;
    top: 0;
    left:0;
    margin-right: 20px;
    height: auto;
    vertical-align: middle;
}
.features .icon > img {
    float: right;
}
.features .text {
    float: left;
    width: 75%;
}
.features .text strong {
    font-size: 150%;
}
.list-box {
    max-width: 750px;
}
.features [class^="col"] {
    margin-bottom: 25px;
}
.features .row > div  > * {
    height: auto;
}
@media (max-width: 767px){
    .features .description {
        margin-bottom: 10px;
    }
}


/* TEXT-2 */

.text-2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}
.text-2 a {
    color: red;
}
.text-2 a:hover {
    text-decoration: none;
}
strong.extra {
    font-size: 125%;
}
.donate {
    border: none;
    box-shadow: none;
    background: #FBB03B;
    padding: 15px 30px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 125%;
}
@media (max-width: 767px){
    .text-2 .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* Footer */

.footer {
    background: #AA1D1D/*#CD322E*/;
}
.footer-copyright {
    margin: 0 0 25px 0;
}

.footer, .footer-links, .footer-links a, .footer-links a:hover, .footer .copyright {
    color: white;
    text-decoration: none;
}
.footer .image-holder {
    text-align: center;
    position: relative;
    top: -45px; /*-40px*/
}
.footer-logo {
    /*height: 88px;*/
    /*height: 100px;*/
    margin:0;
    padding: 0;
}
/*.footer-links a+a:before {
    content: ' | ';
}*/
@media (max-width: 767px){
    .navbar-header > .navbar-toggle, .navbar-header > .navbar-toggle:hover, .navbar-header > .navbar-toggle:focus {
        border: none;
        background: none;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 15px;
    }
    #navbar {
        float: left;
        border: none;
    }
}
@media only screen and (min-width: 768px){
    .social-icons {
        display: inherit;
        visibility: inherit;
    }
}