/* Social Media Icons */
@font-face { 
font-family: "ICON-PACK"; 
src: url("../fonts/icon-pack.ttf"); 
}
@font-face { 
font-family: "ICON-PACK-IE"; 
src: url("../fonts/icon-pack.eot"); 
}
.icon-youtube2:before {
    content: "\ea9e";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-left:before {
    content: "\ea44";
}
.social-icons,.carousel-control{float:right;font-family:"ICON-PACK","ICON-PACK-IE",sans-serif;}
.social-icons-newsbox{font-family:"ICON-PACK","ICON-PACK-IE",sans-serif;}
.social-icons a{display: block;padding: 10px 15px;color:#27C3F3;text-decoration:none;float:left;font-size:22px;}
.social-icons-newsbox a{display: block;color:#E42521;text-decoration:none;text-align:right;font-size:22px;}

@media only screen and (max-width: 992px) { .social-icons{display:none;visibility:hidden;}}
/* Logo */
.navbar-logo {
	height: 20px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  z-index: 20;
}
.navbar-brand{position:absolute;}.navbar-brand img{height:145px;}
#navbar{margin-left: 160px;width:auto;}



/* Footer */
.footer {
    width: 100%;
    min-height: 170px;
    background-color: transparent;
	color: #ababab;
}
.footer-logo {
	height: 100px;
	margin: 70px 0;
}
.footer .copyright, .footer a{color: rgb(228, 38, 34);}
.footer-copyright {margin: 108px 0 108px 40px;}
a.footer-designed-by{color: #ababab;}
@media (max-width:506px) {.footer .pull-right{float:left !important;}.footer-copyright{margin:55px 50px 55px 0;} }
@media (max-width:420px) {.footer-copyright{margin: 55px 0;} }
/* About */
.left.about-content{width:50%;float:left;}
.right.about-content{width:50%;float:right;}
.about-content{padding: 25px 0 75px;}
.aboutus h1,.aboutus h2,.aboutus h3,.aboutus h4,.aboutus h5,.aboutus h6,.aboutus .h1,.aboutus .h2,.aboutus .h3,.aboutus .h4,.aboutus .h5,.aboutus .h6{color:#e52023;}
@media (max-width:919px) {.left.about-content,.right.about-content{width:100%;float:none;} }