<!-- header -->
<div class="navbar-wrapper navbar-full-bg navbar-fixed-top" id="header">
    <div class="container">
        <nav class="navbar navbar-inverse">
            <!--<div class="container">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand visible-xs" href="#">NewPipe</a>-->
                    <a class="navbar-brand" href="{{ site.baseurl }}/blog/"><img src="{{ site.baseurl }}/img/logo.svg" class="img-circle border-white navbar-logo pull-left" /><span class="pull-left">NewPipe Blog</span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="search-container">
                            <a>
                                <form action="{{ site.baseurl }}/blog/search/" method="get" class="search-form">
                                    <div class="input-group has-error">
                                        <input type="text" id="navigation-search-input" class="form-control search-input" name="s" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default no-empty-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </a>
                        </li>
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/press/">Press</a></li>
                        <li><a href="https://github.com/TeamNewPipe/NewPipe/">GitHub</a></li>
                        <li><a href="https://github.com/TeamNewPipe/NewPipe/releases/">Releases</a></li>
                        <li><a href="https://github.com/TeamNewPipe/NewPipe/issues/">Issues</a></li>
                    </ul>
                </div>
            <!--</div>-->
        </nav>
    </div>
</div> <!-- header -->
