<div class="col-xs-12 sidebar" id="sidebar">
    <div class="list-group">
        <h3 class="list-group-item active">Current</h3>
        <a href="#" class="list-group-item">
            {%- if page.short -%}
            {{ page.short }}
            {%- else -%}
            {{ page.title | truncatewords: 3 }}
            {%- endif -%}
        </a>
        <h3 class="list-group-item active">Also interesting</h3>
        {%- for post in site.categories["pinned"] limit: 5 %}
        {%- if page.url != post.url %}
        <a href="{{ post.url }}" class="list-group-item">
            {%- if post.short -%}
            {{ post.short }}
            {%- else -%}
            {{ post.title | truncatewords: 3 }}
            {%- endif -%}
        </a>
        {%- endif %}
        {%- endfor %}
        <a href="/blog/feeds/news.atom" class="list-group-item" id="sidebar-feed-link"><i class="fa fa-rss-square" aria-hidden="true"></i> Subscribe to feed</a>
    </div>

    <div class="sidebar-categories categories">
    {%- for category in site.data.categories %}
        <p class="text-center"><a href="{{ site.baseurl }}/blog/{{ category.category | slugize }}"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ category.category }}</a></p>
    {% endfor %}
    </div>

    <div class="clearfix"></div>
    <div class="search-container">
        <form action="{{ site.baseurl }}/blog/search/" method="get">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                <input type="text" class="form-control" id="search-box"  name="s" placeholder="Search">
            </div><!-- input-group -->
        </form>
    </div>

</div>
