    <!-- footer -->
    <footer class="footer navbar-fixed-bottom" id="footer">
        <!--<div class="image-puffer"></div>-->
        <div class="container">
            <div class="image-holder">
                <img src="{{ site.baseurl }}/img/logo.svg" class="footer-logo img-circle border-white" />
            </div>
            <div class="footer-copyright text-center">
                <p>
                    <span class="copyright">Copyright &copy; Team NewPipe. Please refer to our <a href="{{ site.baseurl }}/LICENSE.html" target="_blank">licensing page</a> for more information.</span>
                </p>
            </div>
        </div>
    </footer> <!-- footer -->
