<!DOCTYPE html>
<html>
<head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - NewPipe</title>

    <meta name="author" content="theScrabi, NewPipe">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the Website of NewPipe the leightweight YouTube experience for Android.{% endif %}">
    <meta name="keywords" content="NewPipe, YouTube, Android">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--<base href="{{ site.baseurl  }}" >-->

    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="icon" sizes="64x64">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/news.rss"/>


    <!-- JQuery -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
      <script src="{{ site.baseurl }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/comments.css">

</head>
<body>
<div id="page">
