<!--<div class="alert alert-warning improve-faq-hint" role="alert">
    <span class="fa fa-question" aria-hidden="true"></span>
    <span>Missing something? Was something hard to understand?<br>
    We don't hope so. But if this is the case, please help us to
    <a href="https://github.com/TeamNewPipe/website/issues/69" target="_blank">improve this site</a>.
    </span>
</div>-->
<!-- FAQ Beta warning -->
<div class="alert alert-warning improve-faq-hint" role="alert">
    <span class="fa fa-wrench" aria-hidden="true"></span>
    <span>Missing something? FAQs and tutorials are in <strong><small>BETA</small></strong>.<br>
        We are working on more content. Please help us to
        <a href="https://github.com/TeamNewPipe/website/issues/69" target="_blank">improve this site</a>.
    </span>
</div>