{{
# Include for page footer
# Following parameters are allowed:
# buffer    A buffer for the overlapping NewPipe logo will be inserted to not hide page content. Default: False
}}

<!-- footer -->
<footer id="footer">
    {%- if include.buffer == "True" || include.buffer == true %}
    <div class="image-buffer"></div>
    {%- endif %}
    <div id="footer-content-container">
        <div class="container">
            <div class="image-holder">
                <img src="{{ site.baseurl }}/img/logo.svg" class="footer-logo img-circle border-white" alt="NewPipe logo" />
            </div>
        </div>
        <div class="container" id="footer-main-links">
            <div class="footer-links">
                <span><a href="{{ site.baseurl }}/">Home</a></span>
                <span><a href="{{ site.baseurl }}/blog/">Blog</a></span>
                <span><a href="{{ site.baseurl }}/press/">Press</a></span>
                <span><a href="{{ site.baseurl }}/donate">Donate</a></span>
            </div>
        </div>
        <div class="container-fluid" id="footer-copyright">
            <div class="container">
                <div class="footer-links">
                    <span id="copyright-span">Copyright &copy; Team NewPipe. <br class="visible-xxs visible-xs"/>Revision
                        <a href="https://github.com/TeamNewPipe/website/tree/{%- git_hash -%}">{%- git_hash -%}</a>
                    </span>
                    <span><a href="{{ site.baseurl }}/press/contact/">Contact</a></span>
                    <span><a href="{{ site.baseurl }}/legal/license/">Licensing</a></span>
                    <span><a href="{{ site.baseurl }}/legal/privacy/">Privacy Policy</a></span>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- footer -->
