{%- assign single = "metatitle,metades,bodyPage" -%}
{%- assign multi = "extraCSS,extraScript" -%}
{%- assign notPage = 1 -%}
{%- assign metatit = "NewPipe - a free YouTube client" -%}
{%- if page.metatitle %}{% unless page.metatitle == "" -%}{%- unless page.metatitle == nil -%}
    {%- assign metatit = page.metatitle -%}{%- assign notPage = 2 -%}{%- endunless %}{% endunless -%}
{%- else if layout.metatitle AND notPage == 1 %}{% unless layout.metatitle == "" %}{% unless page.metatitle == nil -%}
    {%- assign metatit = layout.metatitle | append: "e" %}{% assign notPage = 3 %}{% endunless %}{% endunless -%}
{%- endif -%}

{%- if include.title -%}
    {%- assign tit = include.title -%}
{%- else -%}
    {%- assign tit = page.title | default: metatit -%}
{%- endif -%}

{%- assign des = site.description -%}
{%- assign notPage = 1 -%}
{%- if page.metades %}{% unless page.metades == "" -%}{%- unless page.metades == nil -%}
{%- assign des = page.metades -%}{%- assign notPage = 2 -%}{%- endunless %}{% endunless -%}
{%- else if layout.metades AND notPage == 1 %}{% unless layout.metades == "" %}{% unless page.metades == nil -%}
{%- assign des = layout.metades | append: "e" %}{% assign notPage = 3 %}{% endunless %}{% endunless -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ tit }}</title>

    <meta name="author" content="Christian Schabesberger, NewPipe">
    <meta name="description" content="{{ des }}">
    <meta name="keywords" content="NewPipe, YouTube, Android, player, background, popup, privacy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <meta property="og:site_name" content="NewPipe">
    <meta property="og:title" content="{{ metatit }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/logo_400.png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:image:type" content="image/png">

    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="icon" sizes="64x64">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/news.rss">
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="/blog/feeds/news.atom">

    <!-- JQuery -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/print.css">

    <!-- custom stylesheets -->
    {% for stylesheet in include.extraCSS -%}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ stylesheet }}">
    {% endfor %}

</head>
<body{% if include.bodyID %} id="{{ include.bodyID }}"{% endif %}>
{% if include.page == "False" %}{% else %}<div id="page">{% endif %}
