<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.metatitle %}{{ page.metatitle }}{% else %}Press kit - NewPipe. a free YouTube client{% endif %}</title>

    <meta name="author" content="Christian Schabesberger, NewPipe">
    <meta name="description" content="{% if page.metades %}{{ page.metades }}{% else %}Welcome to the press kit of NewPipe the lightweight YouTube experience for Android.{% endif %}">
    <meta name="keywords" content="NewPipe, YouTube, Android, press, media">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="icon" href="{{ site.baseurl }}/img/logo_favicon.gif" type="image/gif" sizes="32x32" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/press.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/print.css" />

</head>
<body>
<div id="page">
