{{
# We cannot use a data file for two reasons:
# 1. We'd need to escape every single '>' in the changelog
# 2. We cannot use Liquid tags to generate the post URL and therefore would be required to put in an absolute URL
#
# releaseChangelog  should contain the release highlights of the latest NewPipe release
# releasePostUrl    should contain the URL to the corresponding blog post. If there is no blog post for this release,
#                   leave the inner of the capture group empty. When accessing this field, ensure to check if
#                   releasePostUrl is empty: releasePostUrl != empty
}}
{%- capture releaseChangelog -%}
<ul>
    <li>Added support for <a href="https://bandcamp.com">Bandcamp</a></li>
    <li>Information on why content is unavailable</li>
    <li>Improved error handling</li>
    <li>Fixed last resize mode not restored</li>
    <li>Fixed stream title in minimized player</li>
    <li>[YouTube] Fixed trending</li>
    <li>[PeerTube] Fixed playlists</li>
</ul>
{%- endcapture -%}

{%- capture releasePostUrl -%}
{%- endcapture -%}
