{{
# We cannot use a data file for two reasons:
# 1. We'd need to escape every single '>' in the changelog
# 2. We cannot use Liquid tags to generate the post URL and therefore would be required to put in an absolute URL
#
# releaseChangelog  should contain the release highlights of the latest NewPipe release
# releasePostUrl    should contain the URL to the corresponding blog post. If there is no blog post for this release,
#                   leave the inner of the capture group empty. When accessing this field, ensure to check if
#                   releasePostUrl is empty: releasePostUrl != empty
}}
{%- capture releaseChangelog -%}
<ul>
    <li>Enlarged the very small video buffer and fixing videos stop playing almost immediately after filling the buffer</li>
    <li>Fixed crash on tablets and TVs when clicking on the play-queue icon in the player</li>
</ul>
{%- endcapture -%}

{%- capture releasePostUrl -%}
{%- endcapture -%}
