{{
# We cannot use a data file for two reasons:
# 1. We'd need to escape every single '>' in the changelog
# 2. We cannot use Liquid tags to generate the post URL and therefore would be required to put in an absolute URL
#
# releaseChangelog  should contain the release highlights of the latest NewPipe release
# releasePostUrl    should contain the URL to the corresponding blog post. If there is no blog post for this release,
#                   leave the inner of the capture group empty. When accessing this field, ensure to check if
#                   releasePostUrl is empty: releasePostUrl != empty
}}
{%- capture releaseChangelog -%}
<ul>
    <li>Faster YouTube video loading thanks to DASH</li>
    <li>Peertube and Bandcamp videos play and seek correctly</li>
    <li>Convert remote playlists into local ones</li>
    <li>Correctly count views in history</li>
</ul>
{%- endcapture -%}

{%- capture releasePostUrl -%}
{% post_url 2022-07-05-newpipe-0.23.1 %}
{%- endcapture -%}
