---
layout:    "press"
type:      "small"
title:     "Announcements"
date:      2017-12-07 10:30:00
metatitle: "Announcements - NewPipe a free YouTube client"
---

<main class="content">
    <div id="announcements">
        <div class="container">
            <h3 class="red">Announcements</h3>
            <p class="subtitle">This is a collection of our press announcements including new features, presentations, public meetings and general important information.</p>

            {% for post in site.categories["announcement"] %}
            <article>
                <h4>{{ post.title }}</h4>
                <p class="press-date">{{ post.date | date: "%B %-d, %Y" }}{% if post.author %}, {{ post.author }}{% endif %}</p>
                {% if post.image and post.imageHidePress == true %}
                {{ post.content }}
                {% else if post.image %}
                <div class="row">
                    <a href="{{ BASE_PATH }}{{ post.url }}">
                        <div class="col-md-3 col-img">
                            {% if site.data.images[post.image].download %}<a href="{{ site.data.images[post.image].download }}">{% endif %}
                            <img src="/img/{{ site.data.images[post.image].url }}" class="img-responsive postImg" />
                            {% if site.data.images[post.image].download %}</a>{% endif %}
                        </div>
                    </a>
                    <div class="col-md-9">
                        {{ post.content }}
                    </div>
                </div>
                {% else %}
                {{ post.content }}
                {% endif %}
            </article>
            {% endfor %}

            <div class="alert alert-warning download-license-warning" role="alert">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                For announcements which were made <b>before</b> 18th December 2017 please visit our GitHub <a href="https://github.com/TeamNewPipe/NewPipe/issues?utf8=%E2%9C%93&q=label%3Aannouncement">issue page</a>.
            </div>

            <p id="last-modified">Last modified: March 2018</p>

        </div>
    </div>
</main>
