{%- assign css = "blog.css,comments.css" | split: "," -%}
{%- include head.html extraCSS = css -%}

{%- assign blink=site.baseurl | append: "blog/" -%}
{% include nav.html brand="Blog" brandLink=blink search=true active="blog" %}

<div class="post-collection height-full-parent">
    <div class="container height-full-parent height-full">
        <div class="row is-flex height-full-child">
            <div class="col-xs-12 col-sm-8 col-md-9 {% if layout.post %}single-post {% endif -%} border-right">

                <div class="extra-space"></div>

                {{ content }}

                <div class="clearfix"></div>

                <div class="image-buffer"></div>
            </div>

            {% include blog_sidebar.html %}

        </div>
    </div>
</div>    

{% include footer.html buffer=False %}

{% include page_end.html %}
