---
layout: default
extraCSS: [blog.css,comments.css]
bodyID: "blog-post-list"
navBrand: Blog
# navBrandLink: blog/
navActive: blog
navSearch: True
footerBuffer: "True"
---

<div class="post-collection">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 {%- if layout.post %} border-box single-post{% endif -%}">

                {{ content }}

            </div>

            {% include blog_sidebar.html %}

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        /*
        Make single post tiles clickable
         */
        $('.border-box').click(function (event) {
            if (event.target.nodeName === 'a' || event.target.nodeName === 'A'
                || event.target.tagName === 'a' || event.target.tagName === 'A') {
                return;
            }
            let url = $(this).attr('data-href');
            if (url !== "" && url.startsWith("{{ site.url }}"))
                window.location.href = url;
        });
    });
</script>

