{%- capture CSS -%}
{%- for layCSS in layout.extraCSS -%}{{ layCSS }}{% if forloop.last == false %}#{% endif %}{%- endfor -%}
{%- for pageCSS in page.extraCSS -%}{{ pageCSS }}{% if forloop.last == false %}#{% endif %}{%- endfor -%}
{%- endcapture -%}
{%- assign newCSS = CSS | split: "#" -%}

{%- capture JS -%}
{%- for layJS in layout.extraJS -%}{{ layJS }}{% if forloop.last == false %}#{% endif %}{%- endfor -%}
{%- for pageJS in page.extraJS -%}{{ pageJS }}{% if forloop.last == false %}#{% endif %}{%- endfor -%}
{%- endcapture -%}
{%- assign newJS = JS | split: "#" -%}

{%- if layout.bodyID -%}{%- if layout.bodyID != "" -%}{%- if layout.bodyID != NIL -%}
{%- assign bID = layout.bodyID -%}{% endif %}{% endif %}
{%- else -%}
{%- assign bID = page.bodyID -%}
{%- endif -%}

{%- if layout.bodyPage -%}{%- if layout.bodyPage != "" -%}{%- if layout.bodyPage != NIL -%}
{%- assign bPage = layout.bodyPage -%}{% endif %}{% endif %}
{%- else -%}
{%- assign bPage = page.bodyPage -%}
{%- endif -%}

{%- assign bID = page.bodyID | default: layout.bodyID -%}
{%- assign bPage = page.bodyPage | default: layout.bodyPage -%}
{%- assign bFooterBuffer = page.footerBuffer | default: layout.footerBuffer -%}

{%- assign hNavBrand = page.navBrand | default: layout.navBrand -%}
{%- assign hNavBrandLink = page.navBrandLink | default: layout.navBrandLink -%}
{%- assign hNavActive = page.navActive | default: layout.navActive -%}
{%- assign hNavPosition = page.navPosition | default: layout.navPosition -%}
{%- assign hNavSearch = page.navSearch | default: layout.navSearch -%}

{%- include head.html
            extraCSS = newCSS
            extraJS  = newJS
            bodyID   = bID
            page     = bPage %}
{% include nav.html
           brand     = hNavBrand
           brandLink = hNavBrandLink
           active    = hNavActive
           position  = hNavPosition
           search    = hNavSearch %}

{{ content }}

{% include footer.html
           buffer = bFooterBuffer %}
{% include page_end.html
           page        = bPage
           extraScript = page.extraScript -%}
