---
layout: blog_with-sidebar-post
---
<article class="post single-article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h3 class="post-title" itemprop="name headline">{{ page.title | escape }}</h3>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
            by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}</p>
    </header>

    <div class="post-content text-justify-sm" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="post-categories">
        See also: 
        {% for category in page.categories %}
        <a href="{{ site.baseurl}}/blog/{{ category | slugize }}"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ category }}</a>
        {% unless forloop.last %}&nbsp;|&nbsp;{% endunless %}
        {% endfor %}
    </div>

</article>